<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--    <link rel="stylesheet" href="./src/css/style.css" />-->
    <title>WarsawJS - Sebastian Łucjan</title>
  </head>
  <body>
    <div class="test-container">
      <section>hej1</section>
      <section>hej3</section>

      <div>test</div>
      <section>hej3</section>

      <section><img src="images/cloud.png" alt="cloud"></section>
    </div>
  <!-- <footer class="footer">WarsawJS Workshop 54 - 23.05.2021</footer> -->
<!--    <script src="./dist/main-bundle.js"></script>-->
  </body>
</html>
